@use "../../styles/" as *;

.modal {
    transform: none;
    top: 10px;
    right: 10px;
    bottom: 10px;
    left: auto;
    min-width: auto;
    max-width: none;
    min-height: auto;
    max-height: none;
    width: 400px;
    padding: 0;
}

.queue {
    @include mixins-display-flex(flex-start, flex-start);
    flex-direction: column;
    overflow-y: scroll;
    @include mixins-primary-scrollbar();
    width: 100%;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 12px;
    min-height: 100%;
}

.addToQueueMessage {
    color: $colors-primary-txt;
    font-size: 1.2em;
    height: 100%;
    width: 100%;
    @include mixins-display-flex();

}

.queueSection {
    @include mixins-display-flex(flex-start, flex-start);
    flex-direction: column;
    width: 100%;
}

.queueSubtitle {
    color: $colors-primary-txt;
}

.trackItem {
    @include mixins-display-flex(space-between); 
    cursor: pointer;
    padding: 16px;
    width: 100%;
    border-radius: 6px;

    &:hover {
        background-color: $colors-transparent-bg-hover;
    }
}

.info {
    @include mixins-display-flex();
    gap: 10px;
}

.imgBox {
    width: 48px;
    height: 48px;
}

.description {
    @include mixins-display-flex(flex-start, flex-start);
    flex-direction: column;
    gap: 5px;
    
    .name {
        color: $colors-primary-txt;
    }

    .genres {
        @include mixins-display-flex();
        gap: 4px;
        color: $colors-secondary-txt;
    }
}

.actions {
    position: relative;
    height: 100%;
    @include mixins-display-flex();
}

.optionsBtn {
    width: 25px;
    height: 25px;
    cursor: pointer;
    border-radius: 100%;
    background-color: transparent;
    border: none;

    img {
        width: 100%;
        height: 100%;
        @include mixins-gray-filter();

        &:hover {
            @include mixins-white-filter();
        }
    }
}

.options {
    position: absolute;
    inset: auto 10px -25px auto;
    @include mixins-display-flex(flex-start, flex-start);
    flex-direction: column;
    background-color: rgb(40, 40, 40);
    border-radius: 4px;
    overflow: hidden
}

.optionItem {
    @include mixins-display-flex(flex-start);
    gap: 5px;
    padding: 8px;
    background-color: transparent;
    border: none;
    cursor: pointer;

    &:hover {
        background-color: rgba(255, 255, 255, 0.1);
    }
}

.optoinsImgBox {
    width: 16px;
    height: 16px;

    img {
        width: 100%;
        height: 100%;
        @include mixins-white-filter();
    }
}

.actionDescription {
    font-size: .875em;
    text-wrap: nowrap;
    color: $colors-primary-txt;
}