@use '../../styles/' as *;

.explicitSign {
    @include mixins-display-flex();
    background-color: hsla(0, 0%, 100%, .6);
    border-radius: 2px;
    color: #121212;
    font-size: 9px;
    height: 16px;
    line-height: 10px;
    padding: 3px 5px;
    text-transform: uppercase;
    width: 16px;
}