@use '../../../styles/' as *;

section .title {
    margin-bottom: 10px;
    font-size: 1.2em;
    color: $colors-primary-txt;
    font-weight: 800;
}

.resultsBox {
    max-width: 1200px;
    width: 100%;

    .results {
        display: grid;
        grid-gap: 10px; 
        grid-template-columns: repeat(5, minmax(0, 1fr));
    }
}