$primary-bg: rgb(0, 1, 5);
$secondary-bg: #242424;
$primary-txt: #dfdfdf;
$secondary-txt: #b9bdcc;
$primary-btn-bg: rgb(251, 81, 90);
$primary-btn-bg-hover: rgb(249, 31, 12);
$secondary-btn-bg: #242424;
$secondary-btn-bg-hover: #5f5f5f;
$transparent-bg: #1a1a1a6c;
$transparent-bg-hover: #1a1a1a;