$primary-bg: rgb(0, 1, 5);
$secondary-bg: #242424;
$primary-txt: #dfdfdf;
$secondary-txt: #a7a7a7;
$highlighted-txt: rgb(249, 31, 12);
$primary-btn-bg: rgb(251, 81, 90);
$primary-btn-bg-hover: rgb(249, 31, 12);
$secondary-btn-bg: #242424;
$secondary-btn-bg-hover: #5f5f5f;
$transparent-bg: #1a1a1a6c;
$transparent-bg-hover: #1a1a1a;
$light-shadow: rgba(0,0,0,0.2);
$dark-shadow: rgba(0,0,0,0.7);

$text-error: rgb(255, 37, 37);
$text-alert: rgb(197, 157, 13);