@use "./colors";

@mixin display-flex($justifyContent: center, $alignItems: center) {
    display: flex;
    justify-content: $justifyContent;
    align-items: $alignItems;
}

@mixin white-filter() {
    filter: invert(99%) sepia(67%) saturate(195%) hue-rotate(116deg) brightness(114%) contrast(100%);
}
  
@mixin gray-filter() {
    filter: invert(83%) sepia(6%) saturate(499%) hue-rotate(190deg) brightness(91%) contrast(91%);
}

@mixin red-filter() {
    filter: brightness(0) saturate(100%);
    filter: invert(27%) sepia(67%) saturate(7235%) hue-rotate(356deg) brightness(97%) contrast(101%);
}

@mixin primary-btn {
    color: colors.$primary-txt;
    background-color: colors.$primary-btn-bg;
    border: none;
    cursor: pointer;
    transition: 150ms background ease-in-out;

    &:hover {
        background-color: colors.$primary-btn-bg-hover;
    }
}

@mixin secondary-btn {
    color: colors.$primary-txt;
    background-color: colors.$secondary-btn-bg;
    border: none;
    cursor: pointer;
    transition: background 250ms ease-in-out;

    &:hover {
        background-color: colors.$secondary-btn-bg-hover;
    }
}

@mixin primary-row-link {
    color: colors.$primary-txt;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

@mixin secondary-row-link {
    color: colors.$secondary-txt;
    text-decoration: none;

    &:hover {
        color: colors.$primary-txt;
        text-decoration: underline;
    }
}

@mixin primary-scrollbar() {
    &::-webkit-scrollbar {
        width: 10px;
    }
  
    &::-webkit-scrollbar-track {
        background: transparent; 
    }
    
    &::-webkit-scrollbar-thumb {
        background: #888; 
    }
    
    &::-webkit-scrollbar-thumb:hover {
        background: #555; 
    }
}