@use '.' as *;

.searchPage {
    width: 100%;
    min-height: 100vh;
    background: $colors-primary-bg;
    @include mixins-display-flex(flex-start);
    flex-direction: column;
    position: relative;
}

.content {
    margin-top: 50px;
    @include mixins-display-flex();
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.kinds {
    @include mixins-display-flex();
    gap: 8px;

    > button {
        padding: 4px 10px;
        border-radius: 20px;
        background-color: $colors-secondary-btn-bg;
        border: none;
        cursor: pointer;
        min-width: 50px;
        color: $colors-primary-txt;
        transition: background 250ms ease-in-out;

        &:hover {
            background-color: $colors-secondary-btn-bg-hover;
        }
        
        &.active {
            background-color: white;
            color: black;
        }
    }
}

.results {
    @include mixins-display-flex();
    flex-direction: column;
    padding: 20px;
    gap: 20px;
}

.mainResults {
    @include mixins-display-flex(center, flex-start);
    gap: 10px;
    max-width: 1200px;
    width: 100%;
}

section .title {
    margin-bottom: 10px;
    font-size: 1.2em;
    color: $colors-primary-txt;
    font-weight: 800;
}

.bestResultBox {
    @include mixins-display-flex(flex-start, flex-start);
    flex-direction: column;
    flex: 1;
}

.tracksBox {
    flex: 1;
}
