@use '.' as *;

.searchPage {
    width: 100%;
    min-height: 100vh;
    background: $colors-primary-bg;
    @include mixins-display-flex(flex-start);
    flex-direction: column;
    position: relative;
}

.content {
    margin-top: 50px;
    @include mixins-display-flex();
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.kinds {
    @include mixins-display-flex();
    gap: 8px;

    > button {
        padding: 4px 10px;
        border-radius: 20px;
        min-width: 50px;
        @include mixins-secondary-btn();
        
        &.active {
            background-color: white;
            color: black;
        }
    }
}

.results {
    @include mixins-display-flex();
    flex-direction: column;
    padding: 20px;
    width: 100%;
    gap: 20px;
}

.albumResults, .artistResults {
    display: grid;
    grid-gap: 10px; 
    grid-template-columns: repeat(5, minmax(0, 1fr));
}