@use '../../../styles/' as *;

.options {
    width: 100%;
    height: 100%;
    padding: 10px;
    padding-left: 20px;
    @include mixins-display-flex(center);
    gap: 10px;
}

.option {
    width: 18px;
    height: 18px;
    cursor: pointer;
    border: none;
    background-color: transparent;

    > img {
        width: 100%;
        height: 100%;
        @include mixins-gray-filter();

        &:hover {
            @include mixins-white-filter();
        }
    }
}