@use '../../../styles/' as *;

.timeBar {
    @include mixins-display-flex();
    gap: 10px;
    width: 100%;
}

.currentTime, .finalTime {
    color: $colors-primary-txt;
    font-size: .85em;
    display: block;
    min-width: 40px;
}

.currentTime {
    text-align: start;
}

.finalTime {
    text-align: end;
}