@use '../../../styles/' as *;

.mainResults {
    @include mixins-display-flex(center, flex-start);
    gap: 10px;
    max-width: 1200px;
    width: 100%;
}

section .title {
    margin-bottom: 10px;
    font-size: 1.2em;
    color: $colors-primary-txt;
    font-weight: 800;
}

.bestResultBox {
    @include mixins-display-flex(flex-start, flex-start);
    flex-direction: column;
    flex: 1;
}

.tracksBox {
    flex: 1;

    .tracks {
        @include mixins-display-flex();
        flex-direction: column;
        width: 100%;
        gap: 3px;
    }
}